function get_commit_msg() {
    CHANGESFILE=$1
    #msg=$(git dc -- $CHANGESFILE | sed '/^\(+\)/!d' | sed s/^+// | sed '/^+/d' | sed \$d | sed s/^' '-' '//)
    msg=$(git dc -- $CHANGESFILE | sed '/^\(+\)/!d' | sed s/^'+ - '// | sed '/^+/d')
    #msg=$(git dc -- $CHANGESFILE | sed '/^\(+\)/!d' | sed s/^+// | sed '/^+/d' | sed s/^' '-' '//)
    printf "$msg"
}

function bsd() {
    bin/supervisord
}
function bsc() {
    bin/supervisorctl $@
}
function bst() {
    bin/supervisorctl status
}
function bsr() {
    bin/supervisorctl restart $@
}
function bsrr() {
    # 'r'estart 'r'unning processes
    bin/supervisorctl restart $(bin/supervisorctl status | grep RUNNING | cut -d' ' -f1)
}
function bbo() {
    bin/buildout $@
}

function netdata() {
    docker run -d --name=netdata \
	  -p 19999:19999 \
	  -v /etc/passwd:/host/etc/passwd:ro \
	  -v /etc/group:/host/etc/group:ro \
	  -v /proc:/host/proc:ro \
	  -v /sys:/host/sys:ro \
	  -v /var/run/docker.sock:/var/run/docker.sock:ro \
	  --cap-add SYS_PTRACE \
	  --security-opt apparmor=unconfined \
	  netdata/netdata
    open http://localhost:19999
}
