[user]
	name = Lukas Ender
	email = hello@lukasender.at

[push]
    default = current

[alias]
    lol = log --pretty=oneline --abbrev-commit --graph --decorate
    lg = log --color --graph \
             --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
             --abbrev-commit --
    st = status
    fixup = !git commit --fixup $(git rev-parse HEAD)
    co = checkout
    cm = commit
    pu = push
    puf = push -f origin HEAD
    pl = pull
    remotes = remote -v
    tags = tag -l
    branches = branch -a
    d = diff
    dc = diff --cached
    ds = diff --staged
    rbom = rebase -p origin/master
    rbc = rebase --continue
    rba = rebase --abort
    # pupr: 'git push origin <current-branch>, open Pull-Request on Github,
    # assign myself, open Pull-Request in default browser
    pupr = "!sh -c '\
        hub pull-request --assign=lumannnn --push --no-edit --browse; \
    ' -"

[rebase]
    autosquash = true

[core]
    excludesfile = /Users/lui/.gitignore
    precomposeunicode = false
