# Compiled Python files
*.pyc
.python-version

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDEs
.idea
.ropeproject

# Searchtools
.agignore

cscope.files
.nvmrc
npm-debug.log

.pytest_cache
.vscode

# VS-Code extension
.elixir_ls
