[user]
	name = Lukas Ender
	email = hello@lukasender.at

[push]
	default = current

[alias]
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	lg = log --color --graph \
             --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
             --abbrev-commit --
	st = status
	fixup = !git commit --fixup $(git rev-parse HEAD)
	co = checkout
	cm = commit
	p = push
	pl = pull
	remotes = remote -v
	tags = tag -l
	branches = branch -a
	d = diff
[rebase]
	autosquash = true
